### 코랩 사용해보기!
- 인터넷만 있으면 가능한 굉잔히 유용한 사이트!

### 목표
- 학생 성적 데이터를 인공신경망 모델로 학습시켜보자
- keras 활용법 알아보기!

In [1]:
!ls # 현재 폴더의 내부

drive  sample_data

In [2]:
!pwd # 현재 작업중인 경로

/content

In [3]:
%cd ./drive/MyDrive/Colab Notebooks # 현재 경로 바꾸기

/content/drive/MyDrive/Colab Notebooks

In [4]:
!pwd

/content/drive/MyDrive/Colab Notebooks

### 데이터 로딩

In [15]:
import pandas as pd

In [22]:
# 구분자 ';'로 구분되어 데어터가 저장되어있음
studentData = pd.read_csv('./data/student-mat.csv', delimiter=';')

In [23]:
studentData.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

문제와 답 분리

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
X = studentData['studytime']
y = studentData['G3'] # final grade

In [27]:
X.shape, y.shape

((395,), (395,))

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### 신경망 모델 만들기